# Python for data science

## Numpy

### Numpy array

### Boolean mask and using

In [ ]:
import numpy as np
# Import numpy
import numpy as np

# Calculate the BMI: bmi
np_height_m = np.array(height_in) * 0.0254
np_weight_kg = np.array(weight_lb) * 0.453592
bmi = np_weight_kg / np_height_m ** 2

# Create the light array
light = bmi<21

# Print out light
print(light)

# Print out BMIs of all baseball players whose BMI is below 21
print(bmi[light])

### np.array slicing & access element from np.array are the same as list in python

In [ ]:
# Import numpy
import numpy as np

# Store weight and height lists as numpy arrays
np_weight_lb = np.array(weight_lb)
np_height_in = np.array(height_in)

# Print out the weight at index 50
print(np_weight_lb[50])

# Print out sub-array of np_height_in: index 100 up to and including index 110
print(np_height_in[100:111])

### Numpy, logical operation over np.array

In [ ]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
np.logical_or(my_house > 18.5, my_house<10)

# Both my_house and your_house smaller than 11
np.logical_and(my_house<11, your_house<11)

### Use fstring to print float

In [ ]:
# Print floats 1, 2, and 3
print(float1)
print(float2)
print(float3)

# Print floats 2 and 3 using the f string formatter
print(f"{float2:f}")
print(f"{float3:f}")

# Print float 3 with a 7 f string precision
print(f"{float3:.7f}")

## List

### Adding/Deleting/Extending list

In [ ]:
# Create a list containing the names: baby_names
baby_names = ['Ximena','Aliza','Ayden','Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen','Sandeep'])
print(baby_names)

# Find the position of 'Rowen': position
position = baby_names.index('Rowen')

# Remove 'Rowen' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

### List comprehension

In [ ]:
# Use a list comprehension to iterate over each penguin in penguins saved as female_species_list
# If the the sex of the penguin is 'FEMALE', return the species value
female_species_list = [penguin["species"] for penguin in penguins if penguin["sex"] == 'FEMALE']
#return a list

## Tuple

### Tupe(immutable and ordered) are commonly created by zipping lists together with zip()

In [ ]:
# Pair up the girl and boy names: pairs
pairs = zip(girl_names,boy_names)

NameError: name 'girl_names' is not defined

### Tuple unpacking

In [ ]:
for rank, pair in enumerate(pairs):
    #Unpacking
    girl_name,boy_name = pair
    print(rank)
    print(girl_name)
    print(boy_name)

### Tuple unpacking in loop

## Set

### Unique, Unordered, Mutable. Created from a list

In [ ]:
cookies_eaten_today = ['chocolate chip','peanut butter','chocolate chip','oatmeal cream']
types_of_cookies_eaten = set('cookies_eaten_today') #duplicates are removed

### Add element .add()
### Adding multiple element .update()

### .discard() to safely removes element        .pop() removes and return (error when empty)

### Set operations: .union() return a set of all names     .intersection() returns overlapping data between 2 sets
### .difference() returns the data in the set on which the method was used that is not in the argument set

In [ ]:
# Find the union: all_species
all_species = female_penguin_species.union(male_penguin_species)

# Print the count of names in all_species
print(len(all_species))

# Find the intersection: overlapping_species
overlapping_species = female_penguin_species.intersection(male_penguin_species)

# Print the count of species in overlapping_species
print(len(overlapping_species))

differences = female_penguin_species.difference(male_penguin_species)

## String

### f-string

In [ ]:
# Loop over top_ten_girl_names and unpack each tuple into top_ten_rank and name
for top_ten_rank, name in top_ten_girl_names:
  	# Print each name in the proper format
    print(f"Rank #: { top_ten_rank } - { name }")

### Using fstrings and join in string

In [ ]:
# The top ten boy names are:  as preamble
preamble = "The top ten boy names are: "

# , and as conjunction
conjunction = ' , and'

# Combines the first 9 names in boy_names with a comma and space as first_nine_names
first_nine_names = ", ".join(boy_names[0:9])

# Print f-string preamble, first_nine_names, conjunction, the final item in boy_names and a period
print(f"{preamble}{first_nine_names}{conjunction} {boy_names[-1]}.")

### Search string in list

In [ ]:
# Store a list of girl_names that start with s: names_with_s
names_with_s = [name for name in girl_names if name.lower().startswith('s')]

print(names_with_s)

# Store a list of girl_names that contain angel: names_with_angel
names_with_angel = [name for name in girl_names if 'angel' in name.lower()]

print(names_with_angel)

## Dictionary

### Create dict and loop through elements

In [ ]:
# Create an empty dictionary: squirrels_by_park
squirrels_by_park = {}

# Loop over the squirrels list and unpack each tuple
for park, squirrel_details in squirrels:
    # Add each squirrel_details to the squirrels_by_park dictionary 
    squirrels_by_park[park] = squirrel_details
    
# Sort the names_by_rank alphabetically dict by park
for park in sorted(squirrels_by_park):
    # Print each park and it's value in squirrels_by_park
    print(f'{park}: {squirrels_by_park[park]}')

### Use get to safely access value

In [ ]:
# Safely print 'Union Square Park' from the squirrels_by_park dictionary
print(squirrels_by_park.get('Union Square Park'))

# Safely print the type of 'Fort Tryon Park' from the squirrels_by_park dictionary
print(type(squirrels_by_park.get('Fort Tryon Park')))

# Safely print 'Central Park' from the squirrels_by_park dictionary or 'Not Found'
print(squirrels_by_park.get('Central Park', 'Not Found'))

### Adding data to dict

In [2]:
art_galleries['10007'] = galleries_1007
#galleries_1007 is a key value pair

NameError: name 'galleries_1007' is not defined

### Updating dictionary

In [ ]:
# Assign squirrels_madison as the value to the 'Madison Square Park' key
squirrels_by_park['Madison Square Park'] = squirrels_madison

# Update the 'Union Square Park' key with the squirrels_union tuple
squirrels_by_park.update([squirrels_union])

# Loop over the park_name in the squirrels_by_park dictionary 
for park_name in squirrels_by_park:
    # Safely print a list of all primary_fur_colors for squirrels in the park_name
    print(park_name, [squirrel.get('primary_fur_color', 'N/A') for squirrel in squirrels_by_park[park_name]])

### Deleting element from dict

In [ ]:
# Remove "Madison Square Park" from squirrels_by_park
squirrels_madison = squirrels_by_park.pop('Madison Square Park')

# Safely remove "City Hall Park" from squirrels_by_park with an empty dictionary as the default
squirrels_city_hall = squirrels_by_park.pop('City Hall Park', {})

# Delete "Union Square Park" from squirrels_by_park
del squirrels_by_park['Union Square Park']

# Print squirrels_by_park
print(squirrels_by_park)

### Iterate over items in a dictionary

In [ ]:
# Iterate over the first squirrel entry in the Madison Square Park list
for field, value in squirrels_by_park["Madison Square Park"][0].items():
    # Print field and value
    print(field, value)

print('-' * 13)

# Iterate over the second squirrel entry in the Union Square Park list
for field, value in squirrels_by_park["Madison Square Park"][1].items():
    # Print field and value
    print(field, value)

### Checking items in dict

In [ ]:
# Check to see if Tompkins Square Park is in squirrels_by_park
if "Tompkins Square Park" in squirrels_by_park:
    # Print 'Found Tompkins Square Park'
    print('Found Tompkins Square Park')
    
# Check to see if Central Park is in squirrels_by_park
if "Central Park" in squirrels_by_park:
    # Print 'Found Central Park' if found
    print('Found Central Park')
else:
    # Print 'Central Park missing' if not found
    print('Central Park missing')

### Dealing with nested dictionaries

In [ ]:
# Print a list of keys from the squirrels_by_park dictionary
print(squirrels_by_park.keys())

# Print the keys from the squirrels_by_park dictionary for 'Union Square Park'
print(squirrels_by_park['Union Square Park'].keys())

# Loop over the dictionary
for park_name in squirrels_by_park:
    # Safely print the park_name and the highlights_in_fur_color or 'N/A'
    print(park_name, squirrels_by_park[park_name].get('highlights_in_fur_color', 'N/A'))

### Dealing with nested mixed types

In [ ]:
# Use a for loop to iterate over the squirrels in Tompkins Square Park:
for squirrel in squirrels_by_park["Tompkins Square Park"]:
	# Safely print the activities of each squirrel or None
    print(squirrel.get("activities"))
    
# Print the list of 'Cinnamon' primary_fur_color squirrels in Union Square Park
print([squirrel for squirrel in squirrels_by_park["Union Square Park"] if "Cinnamon" in squirrel["primary_fur_color"]])

### Dictionary handling

In [ ]:
# Create an empty dictionary: female_penguin_weights
female_penguin_weights = {}

# Iterate over the weight_log entries
for species, sex, body_mass in weight_log:
    # Check to see if species is already in the dictionary
    if species not in female_penguin_weights:
        # Create an empty list for any missing species
        female_penguin_weights[species] = []
    # Append the sex and body_mass as a tuple to the species keys list
    female_penguin_weights[species].append((sex,body_mass))
    
# Print the weights for 'Adlie'
print(female_penguin_weights['Adlie'])

### defaultdict

In [ ]:
# Import defaultdict
from collections import defaultdict

# Create a defaultdict with a default type of list: male_penguin_weights
male_penguin_weights = defaultdict(list)

# Iterate over the weight_log entries
for species, sex, body_mass in weight_log:
    # Use the species as the key, and append the body_mass to it
    male_penguin_weights[species].append(body_mass)
    
# Print the first 2 items of the male_penguin_weights dictionary
print(list(male_penguin_weights.items())[:2])

## Loops

### Use enumerate to get both index number and element in the list

In [ ]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index) + ": " + str(area))

Use dict.items() to loop both key and values from dictionary

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for name,cap in europe.items():
    print('the capital of '+name+' is '+cap)

Use nditer to loop every element in 2d numpy array

In [ ]:
# Import numpy as np
import numpy as np

# For loop over np_height
for h in np_height:
    print(str(h)+' inches')

# For loop over np_baseball
for n in np.nditer(np_baseball):
    print(n)

Use iterrows to loop dataframe, get both label and rows

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Iterate over rows of cars
for lab, row in cars.iterrows():
    print(lab)
    print(row)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(row['country'] + ': '+str(row['cars_per_cap']))

Use tuple unpacking to loop tuples

In [ ]:
for us_cookie,in_cookie in top_pairs:
    print(us_cookie)
    print(in_cookie)

Enumerating positions in tuple, resulting in (0,'Chocolate Chip','Panjabi')

In [ ]:
for idx,item in enumerate(top_pairs):
    us_cookie, in_cookie = item
    print(idx,us_cookie,in_cookie)

## Dataframe

Add new columns in dataframe based on existing column by using apply function

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Use .apply(str.upper)
cars['COUNTRY'] = cars['country'].apply(str.upper)

# Collections

## Counter  Special dictionary used for counting data, measuring frequency

In [ ]:
# Import the Counter object
from collections import Counter 

# Create a Counter of the penguins sex using a list comp
penguins_sex_counts = Counter([penguin['Sex'] for penguin in penguins])

# Print the penguins_sex_counts
print(penguins_sex_counts)

## .most_common() to get most common elements in the Counter

In [ ]:
# Find the 3 most common species counts
print(penguins_species_counts.most_common(3))

### defaultdict gives every key a type even when it doesn't exist

In [ ]:
# Import defaultdict
from collections import defaultdict

# Create a defaultdict with a default type of list: male_penguin_weights
male_penguin_weights = defaultdict(list)

# Iterate over the weight_log entries
for species, sex, body_mass in weight_log:
    # Use the species as the key, and append the body_mass to it
    male_penguin_weights[species].append(body_mass)
    
# Print the first 2 items of the male_penguin_weights dictionary
print(list(male_penguin_weights.items())[:2])

### namedtuple, alternative to a dataframe row, gives every tuple position a name

In [ ]:
# Import namedtuple from collections
from collections import namedtuple

# Create the namedtuple: SpeciesDetails
SpeciesDetails = namedtuple('SpeciesDetails', ['species', 'sex', 'body_mass'])

# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the weight_log entries
for species, sex, body_mass in weight_log:
    # Append a new SpeciesDetails namedtuple instance for each entry to labeled_entries
    labeled_entries.append(SpeciesDetails(species,sex,body_mass))
    
print(labeled_entries[:5])

In [ ]:
# Iterate over the first twenty entries in labeled_entries
for entry in labeled_entries[:20]:
    # if the entry's species is Chinstrap
    if entry.species == 'Chinstrap':
      # Print each entry's sex and body_mass seperated by a colon
      print(f'{entry.sex}:{entry.body_mass}')

# dataclasses

In [ ]:
from dataclasses import dataclass

@dataclass #(frozen=true) to make it frozen
class  Cookie:
    name: str
    quantity: int = 0

chocolate_chip = Cookie("chocolate chip", 13)
print(chocolate_chip.name)
print(chocolate_chip.quantity)

### Easy tuple or a dictionary conversion

In [ ]:
from dataclasses import asdict, astuple

ginger_molasses = Cookie("ginger molasses", 8)

asdict(ginger_molasses)
#output: {'name': 'ginger molasses', 'quantity': 8}

astuple(ginger_molasses)
#output: ('ginger molasses', 8)

###  Custom properties

In [ ]:
from decimal import Decimal
@dataclass
class Cookie:
    name: str
    cost: Decimal
    quantity: int
    @property
    def value_of_goods(self):
        returnint(self.quantity) * self.cost
        
peanut = Cookie("peanut butter", Decimal("1.2"), 8)
peanut.value_of_goods

#output: Decimal('9.6')

# Function

## Returning function

In [ ]:
# Define echo
def echo(n):
    """Return the inner_echo function."""

    # Define inner_echo
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word

    # Return inner_echo
    return inner_echo

# Call echo: twice
twice = echo(2)

# Call echo: thrice
thrice = echo(3)

# Call twice() and thrice() then print
print(twice('hello'), thrice('hello'))

## Flexible argument

### *args takes a number of argument and make them as a tuple

In [ ]:
# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge
    hodgepodge = ''

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    return hodgepodge

# Call gibberish() with one string: one_word
one_word = gibberish('Luke')

# Call gibberish() with five strings: many_words
many_words = gibberish("luke", "leia", "han", "obi", "darth")

# Print one_word and many_words
print(one_word)
print(many_words)

In [ ]:
# Define count_entries()
def count_entries(df, *args):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Iterate over column names in args
    for col_name in args:
    
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
    
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df,'lang')

# Call count_entries(): result2
result2 = count_entries(tweets_df,'lang','source')

# Print result1 and result2
print(result1)
print(result2)

### *kwargs takes a number of arguments as a dictionary

In [ ]:
# Define report_status
def report_status(**kwargs):
    """Print out the status of a movie character."""

    print("\nBEGIN: REPORT\n")

    # Iterate over the key-value pairs of kwargs
    for key, value in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(key + ": " + value)

    print("\nEND REPORT")

# First call to report_status()
report_status(name='luke',affiliation='jedi',status='missing')

# Second call to report_status()
report_status(name='anakin', affiliation='sith lord', status='deceased')

## lambda function:  lambda variable : return value

In [ ]:
# Define echo_word as a lambda function: echo_word
echo_word = (lambda word1,echo: word1 * echo)

# Call echo_word: result
result = echo_word('Hey',5)

# Print result
print(result)

### Filter using lambda

In [ ]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda member: len(member)>6, fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Print result_list
print(result_list)

# Error handling

## Try except

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word = ''
    shout_words = ''
    

    # Add exception handling with try-except
    try:
        # Concatenate echo copies of word1 using *: echo_word
        echo_word = echo * word1

        # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word + '!!!'
    except:
        # Print error message
        print("word1 must be a string and echo must be an integer.")

    # Return shout_words
    return shout_words

# Call shout_echo
shout_echo("particle", echo="accelerator")

## raise error

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    if echo < 0:
        raise ValueError('echo must be greater than or equal to 0')

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo
shout_echo("particle", echo=5)